
body {
    background: #9b2a95;
    margin:0px;
    display:grid;
    place-items:center;
}

.fdiv {
    background-color:white;
    width:750px;
    height:500px;
    border-radius:40px;
    padding:20px;
}